@charset "utf-8";

html {
  /* ブラウザのデフォルトが16px                        */
  /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  /* 16px */
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  text-align: center;
  background-blend-mode: soft-light;
  background: linear-gradient(135deg, #d4fc79, #96e6a1, #fbc2eb, #a6c1ee);
  animation: gradientFlow 15s ease infinite;
  color: #333;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header,
main,
footer,
h1,
h2,
h3,
p,
div,
table,
.field,
.btn-area,
.filler01 {
  margin: 0.5em 0 0 0;
  padding: 0.1em;
}

th,
td {
  line-height: 1.2em;
  padding: 0.1em;
}

/*******************************************************/
/* 見出し                                              */
/*******************************************************/
h1 {
  color: #5c6bc0;
  /* xanh tím nhẹ */
  font-weight: 700;
}

h2 {
  /* color: grey; */
  color: whitesmoke;
  font-weight: 1000;
}

/*******************************************************/
/* メイン                                              */
/*******************************************************/
/* KEY 入力エリア */
.field01 {
  position: relative;
  height: 5em;
}

/* MEMO 入力エリア */
.field02 {
  position: relative;
  height: 10em;
}

/* ラベル */
label {
  position: absolute;
  left: 0.5em;
  color: #4e6e81;
  font-weight: 700;
  ;
}

label::after {
  margin-left: 1em;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #f06292;
  content: "必須";
}

/* テキストエリア */
textarea {
  position: absolute;
  top: 2em;
  left: 3em;
}

/*placeholder*/
textarea::placeholder {
  color: #46aef7;
}

/* ボタン */
.btn-area {
  margin-left: 3em;
  text-align: left;
}

#save , #select , #del, #allClear {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: rgb(26, 212, 212);
  cursor: pointer;
  /*カーソルをポインターの形（かたち）にする*/
}

/********************************************************/
/* レスポンシブ対応　メディアクエリを使ってCSSを切り替える */
/* https://www.design-memo.com/coding/css-media-queries */
/********************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 480px) {

  /* ラベル */
  label {
    left: 0.1em;
  }

  /* テキストエリア */
  textarea {
    left: 0.1em;
  }

  /* ボタン */
  .btn-area {
    margin-left: 0.1em;
  }

  table {
    width: 100%;
    margin-left: 0.1em;
  }
}

/*******************************************************/
/* class=back                                         */
/* id=btn99 backボタン                                 */
/*******************************************************/
.back {
  text-align: left;
}

#btn99 {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(26, 212, 212);
  cursor: pointer;
  /*カーソルをポインターの形（かたち）にする*/
}

footer>p {
  position: relative;
  bottom: 5px;
  width: 100%;
  margin: 0px;
  padding: 1px;
  color: whitesmoke;
  font: 1em Rajdhani;
  text-align: center;
  background: rgba(1, 24, 31, 0.7);
}

table {
  table-layout: fixed;
  /*1行目に指定された列幅のや数値をテーブル全体に適用*/
  width: 80%;
  margin-left: 3em;
  border-collapse: collapse;
  /* セルのボーダー 重ねて(かさねて)表示(ひょうじ) */
  opacity: 0.9;
}

table th {
  background: grey;
}

table th,
table td {
  padding: 0.5em 0;
  border: solid 0.1em #fff;
  color: white;
  text-align: center;
}

table tr {
  background: #46aef7;
}

.width10 {
  width: 10%;
}

.width30 {
  width: 30%;
}

.width60 {
  width: 60%;
}